[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
django = ">=2.1.11"
django-configurations = "*"
requests = "*"
whitenoise = "*"
beautifulsoup4 = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-dotenv = "*"
django-cache-url = "*"
django-redis = "*"
gunicorn = "*"
python-json-logger = "*"

[requires]
python_version = "3.6"
